/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    color: white;
    display: flex;
    height: 100%;
    width: 99vw;
   
    justify-content: space-between;
}
.nav-logo-container{
    display: flex;
    align-items: center;
}
.nav-logo{
    max-height: 50px; 
    max-width: 50px;
    justify-self: flex-start;
}
/* Style the links inside the navigation bar */
.topnav a {
    transition: all 0.4s ease-in-out;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid transparent;

}
.nav-text{
    font-size: 200%;
    font-family: "Orbitron";
  
    color: white;
    text-shadow:
    1.5px 1.5px 0 #000,
  -0.6px -0.6px 0 #000,  
   1px -0.6px 0 #000,
   -0.6px 0.6px 0 #000,
   0.6px 0.6px 0 #000;
}
.nav-option{
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.nav-link{
    transition: all 0.4s ease-in-out;
    margin-right: 10px;
    font-size: 120%;
    border-radius: 1.2rem;
    background-color: transparent;
    color: white;
    font-family: "Orbitron";
}
.nav-link:hover{
    border: 1.2px solid white;
}

/* Change the color of links on hover */
.active:hover {
    background-color: #ddd;
    color: black;
}

@media only screen and (max-width: 320px){

    .nav-link{
        font-size: 2vw;
    }
    .nav-text{
        font-size: 100%;
        -webkit-text-stroke: 0.1px black;
    }
    .nav-logo{
        max-height: 30px; 
        max-width: 30px;

    }
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    .nav-link{
        font-size: 2vw;
    }
    .nav-text{

        font-size: 80%;
        -webkit-text-stroke: 0.1px black;
    }
    .nav-logo{
        max-height: 35px; 
        max-width: 35px;

    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .nav-link{
        font-size: 80%;
    }
    .nav-text{
        font-size: 140%;
        -webkit-text-stroke: 0.1px black;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .nav-link{
        font-size: 100%;
    }
    .nav-text{
        -webkit-text-stroke: 0.2px black;

    }
    .nav-text{
        font-size: 160%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px){ 
    .nav-text{
        -webkit-text-stroke: 0.5px black;
    }
}   
