/* <div class="container-fluid main">

    <div  class="row">

        <div class="main-container">
            <div class="contact-us">

            </div>
            <div class="spaceman">
                
            </div>
        </div>

    </div>

</div> */


.main-container{
    width: 100%;
    height: 100%;

   


    display: flex;
    justify-content: center;
    height: fit-content;

}
.contact-us{
    transition: all 2s ease-in-out;

	width: 100%;
    height: 100%;
    /* background-color: black; */
    flex-grow: 1;
    flex-shrink: 1;


    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: none; */
    background-image: url("../../assets/cosmos.jpg");
    background-size: cover;
}
.contact-us-webp{
    transition: all 2s ease-in-out;

	width: 100%;
    height: 100%;
    /* background-color: black; */
    flex-grow: 1;
    flex-shrink: 1;


    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: none; */
    background-image: url("../../assets/cosmos.webp");
    background-size: cover;
}

.contact-us-active{
    transition: all 2s ease-in-out;
    background-image: url("../../assets/nebula.jpg");
}
.contact-line{
    transition: all 2s ease-in-out;

    background-color: black;
    width: 90%;
}
.contact-line-active{
    background-color: white;
}
.form-container{
    background-image: url("../../assets/black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; 
    display: flex;
	width: 100%;

    height: 100%;
	/* background-color: teal; */
	color: white;
    /* border-radius: 2rem; */
    padding: 2%;

    transition: all 2s ease-in-out;

}
.contact-form{
    /* background-color: white; */
    transition: all 2s ease;
 
	padding: 2vw;
    flex-shrink: 1;
    flex-grow: 2;
	width: 90%;
	margin-right: 5%;
    height: 100%;
    min-height: fit-content;
}
.form-container-active{
     
	background-color: transparent;
}
.contact-form-active{
    transition: all 2s ease;
    background: transparent;
	color: white;
}
.contact-form-static{
    /* background: linear-gradient(to right, rgba(255,255,255,1), 80%,rgba(255,255,255,0)); */
    background-color: white;
	color: black;
}
.spaceman-container{
    width: 100%;
    height: 60vh;
    /* background-color: aqua; */
    flex-shrink: 2;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    overflow: hidden;

}
.spaceman{
    /* z-index: -1; */
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;

    animation: oscillate 20s ease-in-out 2s infinite;
    transform: rotate(-20deg);
    background-image: 
        url("../../assets/spaceman.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 90%;
    height: 90%;
    /* background-color: orange; */

    display: grid;
 
}

.submit-button{
    z-index: 2;
    transition: all 1s ease;
    background-color: rgb(195, 0, 255);
    border-radius: 1em;
    width: 100%;

  
    color: white;
    font-weight: 700;
    cursor: pointer;
    animation: pulse 2s infinite;
}
.submit-button:hover{
    background-color: rgb(111, 0, 255);
    border: 2px solid white;
    animation: none;
}

.submit{
    /* background-color: red; */
    z-index: 2;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.captcha{
    z-index: 2;
    grid-row: 3;
    grid-column: 2;
}
.invalid-feedback{
    color: red;
    background-color: red;
}


@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(195, 0, 255, 0.4);
      border: 1.2px solid white;
    }
    70% {
        -webkit-box-shadow: 0 0 0 50px rgba(195, 0, 255, 0);
        border: 1.2px solid rgba(255,255,255,0.5);;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(195, 0, 255, 0);
        border: 1.2px solid transparent;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(195, 0, 255, 0.4);
      box-shadow: 0 0 0 0 rgba(195, 0, 255, 0.4);
      border: 1.2px solid white;

    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(195, 0, 255, 0);
        box-shadow: 0 0 0 50px rgba(195, 0, 255, 0);
        border: 1.2px solid rgba(255,255,255,0.5);

    }
    100% {
        -moz-box-shadow: 0 0 0 10px rgba(119, 0, 255, 0);
        box-shadow: 0 0 0 10px rgba(119, 0, 255, 0);
        border: 1.2px solid transparent;

    }
  }
/* @-webkit-keyframes pulse {

}
@keyframes pulse {
    0%{box-shadow: }
} */


@-webkit-keyframes oscillate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-20deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(20deg);}
    100%{transform: rotate(0deg);}
}
@keyframes  oscillate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-20deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(20deg);}
    100%{transform: rotate(0deg);}

}


@media only screen and (max-width: 320px){
    .form-container{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    .form-container{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .form-container{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .form-container{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1500px){
}

@media only screen and (min-width: 1500px) and (max-width: 1999px){
}
