<div class="container-fluid safari background" id="AboutUsPage" #AboutUsPage>
    <div class="row row-wrap">
        <h1 class="text-center text-heading text-black exo">Why choose Social Space?</h1>
        <p class="lead text-black text-center subheading exo">
            Our goal at Social Space is to provide you with a platform to market your Instagram account to your target audience.   
        </p>
    </div>
    <div class="row ">
        <div class="flex-container">

            <div class="third first-card">
                <div class="tight-card">
                   <div>
                        <h3 class="tight-card-heading orbitron">CAPTURE</h3>
                  
                   </div>
                   <hr class="line"/>
                    <!-- <h3 class="description exo">
                        Our goal at Social Space is to provide you with a platform to market your Instagram account to your target audience.                   
                    </h3> -->
                    <h3 class="description exo">
                            Our expert Social Media Managers use a variety of demographics such as interests, location and sex to make sure the traffic driven to your account is relevant and focused.
                    </h3>
                </div>
            </div>
            <div class="third second-card">
                <div class="tight-card">
                    <div>
                 
                        <h3 class="tight-card-heading orbitron">EDIT</h3>
                    </div>
                    <hr class="line"/>
                
                    <h3 class="description exo">
                        The process will begin with an in depth market research looking to fully understand what it is you do, your niche and your target audience.
                    </h3>
                </div>
            </div>
            <div class="third third-card">
                <div class="tight-card">
                    <div>
                    
                        <h3 class="tight-card-heading orbitron">POST</h3>
                    </div>
                    <hr class="line"/>
                    <h3 class="description exo">
                        As more people become aware of your brand you will notice your interactions and engagement increasing.
                    </h3>
                    <h3 class="description exo">
                        To ensure your account grows at a fast and organic level we focus on exposing your account to active and relevant users across Instagram.
                    </h3>

                </div>
            </div>

        </div>
        <h3 class="exo text-black text-center closing">We allow you to focus on the core principle of Instagram while experiencing unparalleled growth and engagement.</h3>
    </div>
</div>
