

<div class="container-fluid background" id="packagesContainer" #packagesContainer>
	<div class="row row-wrap"  id="PackagesPage" #PackagesPage>
		<h1 class="text-white text-center heading exo">Packages</h1>
		<p class="lead text-white text-center subheading exo">
			Need a ride?
		</p>
	</div>
	<div class="row flex-center main">
			<div class="packages-overlay">
		
					<div class="package-overlay" >
				
							<div class="image-container" (click)="open(starter)">
								<img class="image" src="../../assets/1.png"/>
								<div class="highlight"></div>
								<h2 class="package-text">Starter</h2>
							</div>

							<div class="image-container" (click)="open(pro)">
								<img class="image" src="../../assets/3.png"/>
								<div class="highlight"></div>
								<h2 class="package-text">Pro</h2>
							</div>
					</div>
	
		
			</div>
	</div>
	<div class="transitional"></div>

</div>


<ng-template #pro let-modal>
	<div class="lunar-container pro">
		<div class="modal-header">
			<h3 class="modal-title blend-text" id="modal-basic-title">Pro Package</h3>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span style="color:white" aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="jumbo-text blend-text">750+ Targeted New Followers per Month</h1>
						<hr class="row-highlight"/>
						<p class="lead blend-text">Reach up to 45k Targeted Instagram Users. Up to 45 000 Instagram users per month from your target audience will become aware of you through our system and marketing efforts.</p>
						<!-- <p class="lead blend-text2">Automated Features</p> -->
						
						<ul class="list-group list-group-flush">
						
							<li class=" blend-text2 list-group-item d-flex justify-content-between align-items-center">
								<p 
									placement="bottom"
									[autoClose]="'outside'"
									ngbTooltip="Before we begin attracting new followers for you, our team will study your account and its target audience to ensure we only gain the attention of relevant users interested in your content. We'll consider the following demographics when creating a campaign for you: Age, gender, interests and location.">
									Customized Marketing Campaign.
								</p>
							</li>
							<li class="blend-text2 list-group-item d-flex justify-content-between align-items-center">
							<p 
								placement="bottom"
								[autoClose]="'outside'"
								tooltipClass="tooltip"
								ngbTooltip="When you sign up, you'll be assigned a dedicated account manager just for you. Their job will be to collaborate with you as they focus on gaining relevant new followers for your account. You'll be able to stay in close contact with them and they will answer any questions or concerns you may have. Our main goal is to work side by side with you as we increase your Instagram influence."
								>Dedicated Social Media Manager: chat and email support.
							</p>
							</li>
							<li  class=" blend-text2 list-group-item d-flex justify-content-between align-items-center">
								<p 
									placement="right"
									[autoClose]="'outside'" 
									ngbTooltip="Direct Message your newest followers 
												Comment and engage with target audience posts"
									>Optional Addons
								</p>
							</li>
							<li class="blend-text2 list-group-item d-flex justify-content-between align-items-center">
								<p>Cancel Anytime.
								</p>
							</li>
						
						</ul>
						<h3 class="display-6 cost"><kbd>R1500 p/m</kbd></h3>
					</div>
				
				</div>		
		</div>
		<div class="modal-footer">
			<!-- <p class="small text-left w-100"> packages availiable in 3, 6 and 12 month contracts only</p> -->
			<button type="button" class="btn btn-outline-white" (click)="modal.close('Close button click')">close</button>
		</div>
	</div>
</ng-template>


<ng-template #starter let-modal>
		<div class="lunar-container starter">
			<div class="modal-header">
				<h3 class="modal-title blend-text" id="modal-basic-title">Starter Package</h3>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<div class="jumbotron jumbotron-fluid">
						<div class="container">
							<h1 class="jumbo-text blend-text">250+ Targeted New Followers per Month</h1>
							<hr class="row-highlight"/>
							<p class="lead blend-text">Reach up to 15k Targeted Instagram Users. Up to 15 000 Instagram users per month from your target audience will become aware of you through our system and marketing efforts.</p>
				
							
							<ul class="list-group list-group-flush">
							
								<li class=" blend-text2 list-group-item d-flex justify-content-between align-items-center">
									<p
										placement="top"
										[autoClose]="'outside'"
										ngbTooltip="Before we begin attracting new followers for you, our team will study your account and its target audience to ensure we only gain the attention of relevant users interested in your content. We'll consider the following demographics when creating a campaign for you: Age, gender, interests and location.">
										Customized Marketing Campaign.
									</p>
								</li>
								<li class="blend-text2 list-group-item d-flex justify-content-between align-items-center">
								<p 
									placement="bottom"
									[autoClose]="'outside'"
									tooltipClass="tooltip"
									ngbTooltip="When you sign up, you'll be assigned a dedicated account manager just for you. Their job will be to collaborate with you as they focus on gaining relevant new followers for your account. You'll be able to stay in close contact with them and they will answer any questions or concerns you may have. Our main goal is to work side by side with you as we increase your Instagram influence."
									>Dedicated Social Media Manager: chat and email support.
								</p>
								</li>
								<li  class=" blend-text2 list-group-item d-flex justify-content-between align-items-center">
									<p 
										placement="right"
										[autoClose]="'outside'" 
										ngbTooltip="Direct Message your newest followers."
										>Optional Addons
									</p>
								</li>
								<li class="blend-text2 list-group-item d-flex justify-content-between align-items-center">
									<p>Cancel Anytime.
									</p>
								</li>
							
							</ul>
							<h3 class="display-6 cost"><kbd>R750 p/m</kbd></h3>
						</div>
					
					</div>		
			</div>
			<div class="modal-footer">
				<!-- <p class="small text-left w-100"> packages availiable in 3, 6 and 12 month contracts only</p> -->
				<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close button click')">close</button>
			</div>
		</div>
</ng-template>
