
<div class="container-fluid" >
		
	<div class="row">
		<div class="landing-container">
			<div class="landing-info">
					<div class="phone-container">
						<div class="scrolling-content">
							<div class="scroll">
								<div class="phone">
									<div class="phone-logo"></div>
									<div class="phone-info">
										<button type="button" (click)="scrollToPackages()" class="btn-lg btn-primary launch exo">Launch</button>
									</div>
								</div>
							</div>
						</div>

						<div class="jumbotron slogan-container">
							<h1 class="giga-text">Find your place in the social space</h1>
							<hr style="background-color: white" class="my-4">
							<p class="lead small-text exo">Select a package that suits you, then sit back and watch your brand grow. Its that easy.</p>
						</div>
					</div>
				
			</div>
		</div>
	</div>
</div>

